           .sidebarinfo {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    margin-top: 25px;
}
.NsFIHx {
    padding: 12px;
}
.imgsize {
    vertical-align: middle;
width: 52px;
height: 60px;
margin: 9px 15px;
float: left;
}
.nametitle{
font-size: 18px;
padding-top: 6px;
text-transform: none;
font-weight: 600;
margin: 14px 8px;

}
.plusicon{
 width: 20px;
 height: 20px;
 float: left;
 margin: 0px 16px;
 }
 .M6fKa7 {
    padding: 5px 0 0 16px;
    width: calc(100% - 50px);
 }
 .M6fKa7 .e1sGxS {
    padding-top: 3px;
    font-size: 16px;
    font-weight: 500;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.M6fKa7 .e1sGxS {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    white-space: nowrap;
}
.M6fKa7 ._2T2Tfl {
    font-size: 18px;
    padding-top: 6px;
    text-transform: none;
}
.M6fKa7 .CS1pHo {
    white-space: nowrap;
}
.M6fKa7 .e1sGxS {
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    white-space: nowrap;
}
._3Ol7cu {
    padding: 5px 12px 5px 32px;
    margin-bottom: 16px;
    border-top: solid 1px #f0f0f0;
}
._1VD0UF ._2c2GON {
    width: 25%;
}
.boxpadding{padding: 11px 15px;
height: auto;
min-height: 200px;
}
.catheading{
width: calc(100% - 26px);
font-size: 16px;
font-weight: 500;
color: #878787;
cursor: pointer;
font-weight: 800;
margin-bottom: 50px;
}
.cattitle{margin: 0px 10px; float: left;}
.icon{float: left;}
.offpadding{
margin-right: 0px !important;
margin-left: 0px !important;

}
.offpadding2{
padding-right: 0px !important;
padding-left: 0px !important;

}
.menulist{list-style-type: none; margin-top: -20px; margin-bottom: 25px;}
.menulist>li>a{
    font-size: 15px;
padding: 5px 32px;
cursor: pointer;
line-height: 2.3em; 
}
.menulist>li>a:hover{
    color: #2874f0;

text-decoration:none;

}
.menulist>li{
   margin: 1px 0px;

}
.menulist>li:hover{
    color: #2874f0;
background-color: #b3ded980;
text-decoration:none;

}
.maincontent{padding: 24px 32px 40px;
padding: 24px 32px 40px;
min-height: 300px;
background-color: #fff;
border-radius: 2px;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
margin-top: 25px;
}
   .pageheading{font-size: 18px; color: #878787; margin-bottom: 20px;}  
   .orderno{
    background: #2874f0;
color: #fff;
font-size: 15px;
cursor: pointer;
height: auto;
border-radius: 3px;
font-weight: 400;
padding: 8px 0px;
text-align: center;
width: 180px;


   } 
   .helpbtn{
    border: 1px #7574744d solid;
color: #000;
font-size: 15px;
cursor: pointer;
height: auto;
border-radius: 3px;
font-weight: 400;
padding: 8px 0px;
text-align: center;
width: 100px;
float: right;

   }
.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    min-height: 60px;
}
.proname{
    font-size: 14px;
padding: 10px;

}
 .modal-dialog {
    
    margin: 170px auto !important;
}
.tittle-form {
    color: #fff !important;
    display: block;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    padding-bottom: 20px;
   
}
.psize{
    color: #fff;
line-height: 1.5em;

}

.modal-content{
 
  background-repeat: no-repeat;
  background-size: cover; 
  height: auto;

}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

body {
  background-image: url('images/loginbg.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  height: auto;
}

::-webkit-input-placeholder { 
  color: #cdcdcd;
}

::-moz-placeholder { 
  color: #cdcdcd;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:active,
input:-webkit-autofill:focus {
  background-color: #506162;
  box-shadow: 0 0 0 1000px #ffffff inset;
  color: #555555;
  padding-left: 5px;
  -webkit-text-fill-color: #555555;
}

.encabezado {
  display: inline-block;
  position: absolute;
}

.logo-tally {
  height: 125px;
  margin: 10px 10px;
  width: 125px;
}

.wrap {
  margin: 0 auto;
  max-width: 500px;
  width: 100%;
}

.box-form {
  background-color: #fff;
box-shadow: 2px 10px 18px #202020;
padding: 23px 25px 29px;
left: 0px;
margin: 1px 0px;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;

}

.tittle-form {
  color: #000;
display: block;
font-size: 22px;
font-weight: bold;
position: relative;

}

.ctn-input {
  margin: 40px 0;
  position: relative;
  width: 100%;
}

.effect-2 {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  color: #000;
  font-size: 1em;
  border-bottom: 3px solid #2874f0b3;
  padding: 8px 0; 
  width: 100%;
}

.effect-2 ~ .focus-border{
  background-color: #31d4d4;
  bottom: 0;
  height: 2px;
  left: 50%;
  position: absolute;
  transition: 0.4s;
  width: 0;
}

.effect-2:focus ~ .focus-border {
  left: 0;
  transition: 0.5s;
  width: 100%;
}

.box-pass {
  display: none;
}

.checkbox-personalized {
  display: none;
}

.checkbox-personalized:checked + .label-checks:before {
  display: none;
}

.checkbox-personalized:checked + .label-checks {
  background-color: #1e3038;
  border-radius: 2px;
  color: #a2efff;
  font-weight: 100;
  padding: 5px 15px;
}

.label-checks:before {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 3px;
  border: 3px solid #ffffff;
  content: '';
  display: inline-block;
  height: 17px;
  left: 17px;
  position: absolute;
  top: 3px;
  width: 17px;
}

.label-checks {
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  margin: 3px;
  padding: 5px 15px 5px 50px;
  position: relative;
  transition: all 0.3s ease;
}

.label-checks:hover {
  background-color: rgba(1, 1, 1, 0.3);
}

.ctn-checkbox {
  margin: 30px 0;
}

.btn-send {
  background: #fb641b;
  border: 0;
  box-shadow: 1px 0px #fb641b, 0px 1px #fb641b,
              2px 1px #fb641b, 1px 2px #fb641b,
              3px 2px #fb641b, 2px 3px #fb641b,
              4px 3px #fb641b, 3px 4px #fb641b,
              5px 4px #fb641b, 4px 5px #fb641b,
              6px 5px #fb641b, 5px 6px #fb641b;
  color: #ffffff;
  font-size: 17px;
  height: 37px;
  width: 100%;
}

.btn-send:hover,
.btn-send:focus {
  background-color: #fb641b;
  color: #a2efff;
  cursor: pointer;
}

.btn-send:active {
  border: 0;
  box-shadow: 1px 0px #fb641b, 0px 1px #fb641b,
              2px 1px #fb641b, 1px 2px #fb641b,
              3px 2px #fb641b, 2px 3px #fb641b,
              4px 3px #fb641b, 3px 4px #fb641b;
  transform: translate(2px, 2px);
}

@media screen and (max-width: 769px) {
  body {
    background-size: inherit;
  }

  .encabezado {
    right: 0;
  }

  .logo-tally {
    height: 95px;
    width: 95px;
  }

  .box-form {
    padding: 45px 15px;
  }
}
.modal-body {
    position: relative;
    padding: 0px !important;
}
.modal-footer {
    padding: 0px !important;
    text-align: right;
    border-top: none !Important;
}

.sidebarpadding{
   padding: 115px 20px;
}
.loginbottomimg{
    width: 100%;

height: auto;
margin-top: 100px;

}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#000;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000;
}
.loginlogo{
   
height: auto;
margin-bottom: 25px;

}
button.close {
    -webkit-appearance: none;
       padding: 0px 10px !important;
    cursor: pointer;
    /* background: #ffffffe6 !important; */
    border: 0;
    position: absolute;
    left: 536px !important;
    border-radius: 4px;
    font-size: 40px !important;
    margin: 3px 10px;
    color: #fff !important;
    font-weight: 600px;
    top: 9px;
}
.close {
    float: right;
   
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1 !important;
}
.verifyp{margin-top: 20px;
line-height: 1.5;}

.cattitle>a:hover{
	text-decoration: none;
}
.activeclass{
	color: #23527c;
}
.addressinfo{list-style-type: none;}
.addressinfo>li{font-size: 15px;}
.productname{
	font-size: 18px;
	}
	.policy{
		color: #2874f0;
margin: 10px 0px;

	}
	.orderno>a:hover{ color: #fff; text-decoration: none; }
	.form-group {
   
    margin: 8px 6px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    margin-top: 10px;
}
.address{
	font-weight: 800;
}
.mdbottom{
	margin-bottom: 15px;
}
.btnsize{
	padding: 7px 10px !important;
    margin-left: 10px ;
 }
 .imgnotifysize{
 	width: 66px;
	height: 66px;

 }

	@media (min-width: 100px) and (max-width: 767px) {
		.helpbtn{
			display: none;
		}

	}
	@media (min-width: 768px) and (max-width: 991px) {
		.helpbtn{
			display: block;
		}

	}
	@media (min-width: 992px) and (max-width: 1199px) {
		.helpbtn{
			display: block;
		}

	}
	@media (min-width: 1200px) and (max-width: 1479px) {
		.helpbtn{
			display: block;
		}

	}
	@media (min-width: 1480px) {
		.helpbtn{
			display: block;
		}

	}
